{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="{{ url_for('search') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="month" placeholder="當前月份(01~12)" type="text"/>
            </div>

            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="股票代碼" type="text"/>
            </div>

            <div class="form-group">
                <button class="btn btn-default" type="submit">提交(Submit)</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
